@model BdMarketWebApp.Models.Product

@{
    ViewData["Title"] = "BD Market - Item Details";
    ViewData["ItemActive"] = "active";
}

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("ViewAll","Product")">Product</a>
        </li>
        <li class="breadcrumb-item active">Details</li>
    </ol>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2>View Details</h2>
            <hr />

            <div class="form-horizontal">
                <img src="@ViewData["Picture"]" style="width: 100%; height: 250px" />


                <div class="form-group">
                    <label>Category</label>
                    <br />
                    <input type="text" value="@ViewData["CategoryName"]" class="form-control" readonly="readonly" />
                    <br />
                </div>

                <div class="form-group">
                    <label asp-for="ProductTitle">Title</label>
                    <br />
                    <input type="text" asp-for="ProductTitle" placeholder="Enter Product Title" class="form-control" readonly="readonly" />
                    <br />
                    <span asp-validation-for="ProductTitle" class="alert-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ProductDescription">Description</label>
                    <br />
                    <input type="text" asp-for="ProductDescription" placeholder="Enter Product Description" class="form-control" readonly="readonly" />
                    <br />
                    <span asp-validation-for="ProductDescription" class="alert-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="EntryDate">Date</label>
                    <br />
                    <input type="text" asp-for="EntryDate" placeholder="Enter Product Entry Date" class="form-control" readonly="readonly" />
                    <br />
                    <span asp-validation-for="EntryDate" class="alert-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="BasePrice">Base Price</label>
                    <br />
                    <input type="text" asp-for="BasePrice" placeholder="Enter Base Price" class="form-control" readonly="readonly" />
                    <br />
                    <span asp-validation-for="BasePrice" class="alert-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SellPrice">Sell Price</label>
                    <br />
                    <input type="text" asp-for="SellPrice" placeholder="Enter Sell Price" class="form-control" readonly="readonly" />
                    <br />
                    <span asp-validation-for="SellPrice" class="alert-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Quantity">Quantity</label>
                    <br />
                    <input type="text" asp-for="Quantity" placeholder="Enter Quantity" class="form-control" readonly="readonly" />
                    <br />
                    <span asp-validation-for="Quantity" class="alert-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ActionBy">Action By</label>
                    <br />
                    <input type="text" asp-for="ActionBy" placeholder="Enter Action By" class="form-control" readonly="readonly" />
                    <br />
                    <span asp-validation-for="ActionBy" class="alert-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ActionDone">Action Done</label>
                    <br />
                    <input type="text" asp-for="ActionDone" placeholder="Enter Action Done" class="form-control" readonly="readonly" />
                    <br />
                    <span asp-validation-for="ActionDone" class="alert-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ActionTime">Action Time</label>
                    <br />
                    <input type="text" asp-for="ActionTime" placeholder="Enter Action Time" class="form-control" readonly="readonly" />
                    <br />
                    <span asp-validation-for="ActionTime" class="alert-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
