@model BdMarketWebApp.Models.Employee

@{
    ViewData["Title"] = "BD Market - Edit Employee";
    ViewData["EmployeeActive"] = "active";
}

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("ViewEmployee","Employee")">Employee</a>
        </li>
        <li class="breadcrumb-item active">Edit</li>
    </ol>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2>Edit Employee</h2>
            <hr />

            <form method="post" asp-action="Edit" class="form-horizontal" id="attachment" enctype="multipart/form-data" encoding="multipart/form-data">
                @Html.Raw(ViewData["Message"])

                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Password" />
                <input type="hidden" asp-for="ProfilePicture" />

                <div class="form-group">
                    <label asp-for="Name">Employee Name</label>
                    <br />
                    <input type="text" asp-for="Name" placeholder="Enter Employee Name" class="form-control" />
                    <br />
                    <span asp-validation-for="Name" class="alert-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="UserName">User Name</label>
                    <br />
                    <input type="text" asp-for="UserName" placeholder="Enter User Name" readonly="readonly" class="form-control" />
                    <br />
                    <span asp-validation-for="UserName" class="alert-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <br />
                    <input type="text" asp-for="Email" placeholder="Enter Email" class="form-control" />
                    <br />
                    <span asp-validation-for="Email" class="alert-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Phone">Phone</label>
                    <br />
                    <input type="text" asp-for="Phone" placeholder="Enter Phone" class="form-control" />
                    <br />
                    <span asp-validation-for="Phone" class="alert-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Address">Address</label>
                    <br />
                    <input type="text" asp-for="Address" placeholder="Enter Address" class="form-control" />
                    <br />
                    <span asp-validation-for="Address" class="alert-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DesignationId">Designation</label>
                    <br />
                    <select asp-for="DesignationId" class="form-control" asp-items="@ViewBag.Desigantions">
                        <option value="">-- Select --</option>
                    </select>
                    <br />
                    <span asp-validation-for="DesignationId" class="alert-danger"></span>
                </div>


                <div class="form-group">
                    <input type="submit" value="Edit" class="btn btn-default" style="width: 100%"/>
                </div>

            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
